/* font-family: "Roboto", sans-serif;
 font-family: "Raleway", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    
}
.main-header {
    background-color: #ffffff;
    color: inherit;
    cursor: pointer;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    Letter-spacing: 0,03em;
    text-transform: uppercase;
}
.logo-text {
     font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f42;
    Letter-spacing: 0,03em;
    text-transform: uppercase;
}
.main-hero {
    background-color: #f6f7fb;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
text-align: center