/* font-family: "Roboto", sans-serif;
 font-family: "Raleway", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #212121;
    background-color: #f5f5f5; 
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #4d5ae5;
    background-color: #ffffff;
}

.logo-text { */
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    background-color: #ffffff;
