/* font-family: "Roboto", sans-serif;
 font-family: "Raleway", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 2,4;
    letter-spacing: 0,02em;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}
a:hover {
    color: #404bbf;
}
a:active {
    color: #404bbf;
}
ul li {
    list-style: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    Letter-spacing: 0,03em;
    text-transform: uppercase;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f42;
    Letter-spacing: 0,03em;
    text-transform: uppercase;
}
.main-hero {
    background-color: #fff;
}
.section-hero {
    background-color: #2e2f42;
    color: #ffffff;
}
h1 {
    font-size: 56px; 
    font-weight: 700;
    color: #ffffff; 
    text-align: center;
    line-height: 6;
    letter-spacing: 0,02em;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    width: 169px;
    height: 56px;
    line-height: 2,4;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4d5ae5;
}
.text-hero {
    text-align: left;
}
.btn-primary:hover {
    background-color: #404bbf;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    text-align: center;
}
.team-item {
    background-color: #ffffff;
}
img {
    display: block;
}
footer {
    background-color: #2e2f42;
    color: #ffffff;
}
.footer-logo {
    color: #ffffff;
}